.portfolio-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem 2rem;
  background-color: var(--secondary-blue);
}

.portfolio-hero-text {
padding: 0rem 3rem;
}

.portfolio-hero-text h2 {
  font-size: 2.5rem;
  color: var(--neutral-white);
}

.portfolio-hero-text p {
  font-size: 2.2rem;
  max-width: 600px;
  color: var(--neutral-white);
}

.portfolio-hero-img-wrapper {
padding: 0rem 3rem;
}

.portfolio-hero-img {
  width: 220px;
  height: auto;
  clip-path: polygon(25% 15%, 75% 15%, 100% 50%, 75% 85%, 25% 85%, 0% 50%);
  object-fit: cover;
  display: block;
}