.portfolio-skills {
  background-color: var(--neutral-white);
  text-align: center;
  padding: 0rem 2rem 2rem 2rem;
}

.portfolio-skill-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

.portfolio-skill-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.portfolio-skill-icon:hover {
  transform: scale(1.2);
}