.portfolio-footer {
  background-color: var(--dark-blue);
  color: var(--neutral-white);
  padding: 1.5rem;
  text-align: center;
}

.portfolio-footer p {
  color: var(--neutral-white);
}

.portfolio-footer-text {
  margin: 0.5rem 0;
}

.social-icons {
  margin-top: 1rem;
}

.social-icons img {
  width: 32px;
  height: 32px;
  margin: 0 5px;
}